table {
    margin:50px 10px;
    width:97%;
}

tbody th {
    border:1px solid #CCC;
    text-align:center;
    font-size: 0.7em;
    font-weight:bold;
    padding:5px;
    background: #FFF;
}

tbody td {
    text-align:center;
    font-weight:bold;
    font-size:2em;
    padding:20px 5px;
    border:1px solid #CCC;
    background:#FFF;
}

tbody td a {
    text-decoration:none;
    color:#333;
}

tbody td:hover {
    background: #25C38A;
}

tbody td:hover a {
    color:#FFF;
}

tfoot td {
    font-weight:normal;
    color:#666;
    padding:5px;
    text-align:center;
}

.items {
    display:flex;

    dl {
        width:320px;
        background:#FFF;
        border-radius: 5px;
        padding:20px 0;
        font-size:0.9em;
    }

    dt {
        color: #666;
        display:block;
        float:left;
        width:180px;
        margin: 0 10px 5px 0;
        padding:0;
        text-align:right;
    }

    dd {
        display:block;
        margin-bottom:5px;
        font-weight:bold;
    }
}

@keyframes pulse {
    from {
        font-size:1em;
        color:#AAA;
    }
    to {
        font-size:1.2em;
        color:#666;
    }
  }

div#loading {
    text-align:center;
    margin:50px;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media only screen and (max-width: 480px) {
    .items {
      flex-direction:column;
    }
  }