div.item {
    background:#FFF;
    margin:5px;
    border-radius:5px;
    padding:5px;

    img {
        width:100%;
        object-fit: none; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        height: 200px;
    }

    p {
        color: #666;
        margin:5px;
    }

    p.label {
        font-size: 0.6em;
        font-weight:bold;
        margin:2px 0;
        color: #25C38A;
        text-transform: uppercase;
    }

    p.price {
        color: #000;
        font-weight: bold;
        font-size:1.6em;
    }

    h2 {
        font-weight:normal;
        font-size:1.2em;
        margin:5px;
        color: #666;
    }
}


@media only screen and (max-width: 480px) {
    p.description {
      display:none;
      position:absolute;
    }
  }
